@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<body style="background-color: white;">
    <header>
        <h1>Logg ut</h1>
        <p>Du har blitt logget ut</p>
    </header>
</body>
